{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle" src="https://databook-profilepicture.s3-ap-southeast-2.amazonaws.com{{image_file}}" alt="" width=100 height=100>
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary"> {{ current_user.email }} </p>
            </div>
        </div>
        <!-- Update account info form -->
        <section id="update_form">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Update Account Information</legend>
    
                    <div class="form-group mb-3">
                        {{ form.username.label(class="form-control-label") }}
                        
                        {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        
                        {% else %}
                            {{ form.username(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.email.label(class="form-control-label") }}
                        
                        {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid", type="email") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    
                        {% else %}
                            {{ form.email(class="form-control", type="email") }}
                        {% endif %}
    
                    </div>
                    
                    <div class="form-group mb-3">
                        {{ form.picture.label() }}
                        {{ form.picture(class="form-control-file")}}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>

                </fieldset>
                <div class="form-group mb-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
                
            </form>
        </section>


    </div>
{% endblock content %}
