<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <! -- Add Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

    
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <script src="{{ url_for('static', filename='utility.js') }}"></script>


    {% if title %}
        <title>DataBook - {{ title }}</title>
    {% else %}
        <title>DataBook</title>
    {% endif %}

</head>
<body class="bg-light custom_scrollb">
    <header class="mb-3">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <div class="container">
            <div style="display: flex; align-items: center;">
              <img src="{{ url_for('static', filename='logo.png') }}" alt="" width=30px height=30px>
              <a class="navbar-brand mr-4 ml-2 mont" href="{{ url_for('main.home') }}"> DataBook</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">

                <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
                <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
                  <a class="nav-item nav-link" href="{{ url_for('datasets.new_dataset') }}">New Dataset</a>
                {% endif %}  
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav"> 
                {% if current_user.is_authenticated %} 
                  <div style="display:flex; align-items: center;"> 
                    <img class="rounded-circle" src="https://databook-profilepicture.s3-ap-southeast-2.amazonaws.com/static/images/profile_pictures/{{current_user.image_file}}" alt="" width=25 height=25>
                    <a class="nav-item nav-link p-1" href="{{ url_for('users.account') }}" style="font-weight: bold;">{{ current_user.username }}</a>  
                  </div>
                  <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>

                {% else %}
                  <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                  <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
    </header>

    <!-- This piece below is used for alerts to the user on page updates i.e. displaying a confirmation or error -->

    <main role="main" class="container">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>    
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <section class="ml-auto mr-auto">
              {% block content %}{% endblock %}
            </section>
        </div>
    </main>

    {% include 'footer.html' %}

</body>
</html>