{% extends "base.html" %}

{% block content %}
<div class="row d-flex align-items-center justify-content-center mt-2 mb-2">
  <div class="col-lg-6 d-flex align-items-center justify-content-center">
      <input placeholder="Search" class="form-control search-bar" type="text"> <button class="btn btn-outline-primary" style="display: block; padding: 0.3rem 1rem 0.3rem 1rem;"><span>🔍</span></button></input> 
  </div>
</div>

<section id="top-posts">
    <div class="row d-flex align-items-center mt-1 mb-2">
      <div class="col-md-6 d-flex align-items-center mt-1">
        <h1 class="p-2 m-0">{{page_header }}</h1>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-end mt-1">
        <div class="btn-group" role="group" aria-label="Basic example">
          <a class="btn btn-outline-primary btn-sm {% if 'Top' in page_header %} active {% endif %}" href="{{ url_for('main.home', type='top') }}" style="text-decoration: none;">⭐ Top</a>
          {% if 'Top' in page_header %}
            <div class="btn-group" role="group" aria-label="Basic example">
              <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle {% if current_user.is_authenticated %} {% else %} disabled {% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ time }}
              </button>
              <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li><a class="dropdown-item {% if time == 'Now' %} active {% endif %}" href="{{ url_for('main.home', type='top', time='now') }}">Now</a></li>
                <li><a class="dropdown-item {% if time == 'Today' %} active {% endif %}" href="{{ url_for('main.home', type='top', time='today') }}">Today</a></li>
                <li><a class="dropdown-item {% if time == 'Week' %} active {% endif %}" href="{{ url_for('main.home', type='top', time='week') }}">Week</a></li>
                <li><a class="dropdown-item {% if time == 'Month' %} active {% endif %}" href="{{ url_for('main.home', type='top', time='month') }}">Month</a></li>
              </ul>
            </div> 
          {% endif %}  
                   
          <a class="btn btn-outline-primary btn-sm {% if 'Newest' in page_header %} active {% endif %}" href="{{ url_for('main.home', type='newest') }}" style="text-decoration: none;">✨ Newest</a>
          {% if 'Newest' in page_header %}
          <div class="btn-group" role="group" aria-label="Basic example">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle {% if current_user.is_authenticated %} {% else %} disabled {% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ time }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><a class="dropdown-item {% if time == 'Now' %} active {% endif %}" href="{{ url_for('main.home', type='newest', time='now') }}">Now</a></li>
              <li><a class="dropdown-item {% if time == 'Today' %} active {% endif %}" href="{{ url_for('main.home', type='newest', time='today') }}">Today</a></li>
              <li><a class="dropdown-item {% if time == 'Week' %} active {% endif %}" href="{{ url_for('main.home', type='newest', time='week') }}">Week</a></li>
              <li><a class="dropdown-item {% if time == 'Month' %} active {% endif %}" href="{{ url_for('main.home', type='newest', time='month') }}">Month</a></li>
            </ul>
          </div> 
        {% endif %}  
        </div>
      </div>
    </div>
    {% if posts.items|length < 1 %}
    <div class="col-12 d-flex justify-content-center align-items-center mt-5">
      <span>
        There doesn't seem to be any posts here 🙇‍♂️
      </span>
    </div>
    {% else %}
      {% for post in posts.items %}
          {% include 'post.html' %}
          

      {% endfor %}
    {% endif %}

    <div class="float-right">
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
            <a class="btn btn-secondary btn-sm mb-4" href="{{ url_for('main.home', page=page_num) }}"> {{ page_num }} </a>
            {% else %}
            <a class="btn btn-outline-secondary btn-sm mb-4" href="{{ url_for('main.home', page=page_num) }}"> {{ page_num }} </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor%}
    </div>
    
</section>

<script>
  const time_stamps = document.getElementsByClassName("time-stamp")
  const time_now = new Date();
  for (let index = 0; index < time_stamps.length; index++) {
    const element = time_stamps[index];
    const time_value = element.getAttribute('value');
    const local_date = new Date(time_value + 'Z');
    let time_text = posted_time_text(local_date)

    element.textContent = time_text;
    element.title = `Posted at: ${local_date.toLocaleString()}`;
  }

  function send_like_action(like_button) {
    
    const post_id = like_button.value
    const button_text = like_button.textContent

    const convert_obj = {Like: 'like', Unlike: 'unlike'}

    fetch(`/like/${post_id}/${convert_obj[button_text]}`)
    .then(response => {
      if (response.status !== 200) {
        console.log('Was not able to send like to server!')
        return;
      }

      response.json()
      .then(data => {
        if (data['result'] == true) {
        console.log("Updated")
          if (button_text == "Like") {
            like_button.textContent = "Unlike"
            like_button.classList.add("btn-outline-danger")
            like_button.classList.remove("btn-outline-success")
          } else {
            like_button.textContent = "Like"
            like_button.classList.add("btn-outline-success")
            like_button.classList.remove("btn-outline-danger")
          } 
          fetch_likes(post_id)
        }
      })      
    })
  } 

  function fetch_likes(post_id) {
    fetch(`/post/${post_id}/likes`)
    .then(response => {
      if (response.status !== 200) {
        console.log('Was not able to fetch post likes')
        return;
      }
      response.json()
      .then(data => {
        const var_div = document.getElementById('likes_div_'+post_id);
        let like_h6 = document.createElement("h6");

        if (data['like_number'] == 1) {
          like_h6.textContent = data['like_number'] + ' like';
        } else {
          like_h6.textContent = data['like_number'] + ' likes';
        }
        var_div.innerHTML = "";
        var_div.appendChild(like_h6);
      })

    })
  }

</script>

{% endblock content %}