{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 mont"> Request Reset Password Link</legend>

                <div class="form-group mb-3">
                    {{ form.email.label(class="form-control-label") }}
                    
                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid", type="email") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                
                    {% else %}
                        {{ form.email(class="form-control", type="email") }}
                    {% endif %}

                </div>
                <div class="mb-3">
                    <small>An email will be sent that contains a link which will allow you to reset your password, it may take upto 5 minutes to appear in your inbox.</small>
                </div>
            </fieldset>
            <div class="form-group mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

{% endblock content %}