{% extends "base.html" %}

{% block content %}
<section id="top-posts">

    <h1 class="p-2">{{ tag }} posts</h1>
    {% for post in posts.items %}
          
      {% include 'post.html' %}

    {% endfor %}
    
    <div class="float-right">
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
            <a class="btn btn-secondary btn-sm mb-4" href="{{ url_for('main.home', page=page_num) }}"> {{ page_num }} </a>
            {% else %}
            <a class="btn btn-outline-secondary btn-sm mb-4" href="{{ url_for('main.home', page=page_num) }}"> {{ page_num }} </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor%}
    </div>
    
</section>

<script>
  function send_like_action(like_button) {
    
    const post_id = like_button.value
    const button_text = like_button.textContent

    const convert_obj = {Like: 'like', Unlike: 'unlike'}

    fetch(`/like/${post_id}/${convert_obj[button_text]}`)
    .then(response => {
      if (response.status !== 200) {
        console.log('Was not able to send like to server!')
        return;
      }

      response.json()
      .then(data => {
        if (data['result'] == true) {
        console.log("Updated")
          if (button_text == "Like") {
            like_button.textContent = "Unlike"
            like_button.classList.add("btn-outline-danger")
            like_button.classList.remove("btn-outline-success")
          } else {
            like_button.textContent = "Like"
            like_button.classList.add("btn-outline-success")
            like_button.classList.remove("btn-outline-danger")
          } 
          fetch_likes(post_id)
        }
      })      
    })
  } 

  function fetch_likes(post_id) {
    fetch(`/post/${post_id}/likes`)
    .then(response => {
      if (response.status !== 200) {
        console.log('Was not able to fetch post likes')
        return;
      }
      response.json()
      .then(data => {
        const var_div = document.getElementById('likes_div_'+post_id);
        let like_h6 = document.createElement("h6");

        if (data['like_number'] == 1) {
          like_h6.textContent = data['like_number'] + ' like';
        } else {
          like_h6.textContent = data['like_number'] + ' likes';
        }
        var_div.innerHTML = "";
        var_div.appendChild(like_h6);
      })

    })
  }

</script>

{% endblock content %}