{% extends "base.html" %}

{% block content %}

<div>
    <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }}) </h1>
</div>

<div>
    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}

    <div class="float-right">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
              {% if posts.page == page_num %}
              <a class="btn btn-secondary btn-sm mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}"> {{ page_num }} </a>
              {% else %}
              <a class="btn btn-outline-secondary btn-sm mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}"> {{ page_num }} </a>
              {% endif %}
          {% else %}
              ...
          {% endif %}
      {% endfor%}
      </div>
</div>

{% endblock content %}